Importing Pandas and Numpy

In [1]:
import pandas as pd
import numpy as np

Printing 'Hello Capstone Project Course!'

In [2]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

Importing package for getting and parsing HTML file

In [3]:
from bs4 import BeautifulSoup
import requests
import lxml

Getting HTML file, source of a web-page

In [4]:
response = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

Making a 'soup', loading HTML file into BeautifulSoup parser

In [5]:
soup = BeautifulSoup(response.text, 'html.parser')

Finding necessary table in HTML file

In [6]:
table = soup.find('table')

Converting table into a Pandas DataFrame

In [7]:
df = pd.read_html(str(table))[0]

Lets watch at first and last 5 rows, using .tail() and .head() methods

In [8]:
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [9]:
df.tail()

,Postal Code,Borough,Neighborhood
175,M5Z,Not assigned,NaN
176,M6Z,Not assigned,NaN
177,M7Z,Not assigned,NaN
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,NaN

As we can see, there are lots of 'Not assigned' ana 'Nan' cells. Lets deal with it

In [10]:
df.drop(df.loc[df.Borough == 'Not assigned', :].index, axis=0, inplace=True)

Lets watch at DataFrame again

In [11]:
df.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Reindexing rows

In [12]:
df.index = [i for i in range(len(df))]

Lets get shape of the DataFrame

In [13]:
df.shape

(103, 3)

Loading geodata into coords DataFrame

In [14]:
coords = pd.read_csv('Geospatial_Coordinates.csv')

Lets take a look at the data

In [15]:
coords.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Checking its shape

In [16]:
coords.shape

(103, 3)

Data in file is unsorted. So lets sort it and create a sorted dataframe with coords at same places as in main DataFrame df. Also lets see the shape

In [49]:
sorted_list = pd.DataFrame()
for num1, i in enumerate(df.loc[:, 'Postal Code']):
    for num2, j in enumerate(coords.loc[:, 'Postal Code']):
        if j == i:
            sorted_list = pd.concat([sorted_list, coords.loc[num2, ['Latitude', 'Longitude']] ], axis=1, ignore_index=True)
sorted_list = sorted_list.T
sorted_list.shape

(103, 2)

Lets contacenate it to our main DataFrame

In [51]:
df = pd.concat([df, sorted_list], axis=1)

Lets take a look at the data

In [52]:
df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.7533,-79.3297
1,M4A,North York,Victoria Village,43.7259,-79.3156
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.6543,-79.3606
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.7185,-79.4648
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.6623,-79.3895